@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    padding: 0px;
    margin: 0px;
    font-family: "inter";
    color: white;
}

/*Imagem de fundo*/

body {
    background-image: url("../images/teste.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*Configuração do header, logo e menu de navegação*/

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}

a {
    text-decoration: none;
}

#logo img {
    width: 40px;
    filter: invert(100%);
    margin-top: 8px;
}

header nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

/*Decoração botão nav*/
.btn-nav {
    padding: 0px 8px;
    font-weight: bold;
}

.btn-nav:hover {
    text-decoration: underline lightgreen 5px;
}

/*Área principal*/

main {
    padding: 15px;
}

article {
    width: 60vw;
    height: 40vh;
}

p {
    padding-top: 15px;
}

/*Menu das áreas da biologia*/

#nav-slides {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

hr {
    background-color: white;
    box-sizing: border-box;
    width: 30%;
    height: 1%;
    border-radius: 15px;
}

.slides {
    margin: 15px;
    width: 200px;
    height: 300px;
    background-color: red;
    border-radius: 15px;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.8);
    flex-direction: column-reverse;
    display: flex;
    font-weight: bold;
    padding: 2%;
}

.slides:hover {
    width: 300px;
    height: 400px;
    transition: ease-in-out 200ms;
}

#slide-1 {
    background-image: url(../images/bio-marinha.jpg);
    background-position: center;
    background-size: cover;
}
#slide-2 {
    background-image: url(../images/Bio-Paleo.jpg);
    background-position: center;
    background-size: cover;
}
#slide-3 {
    background-image: url(../images/bio-botanica.jpg);
    background-position: center;
    background-size: cover;
}

#slide-4 {
    background-image: url(../images/bio-anatomia.jpg);
    background-position: center;
    background-size: cover;
}

#slide-5 {
    background-image: url(../images/bio-celular.jpg);
    background-position: center;
    background-size: cover;
}

#slide-6 {
    background-image: url(../images/bio-evo.jpg);
    background-position: center;
    background-size: cover;
}

#slide-7 {
    background-image: url(../images/bio-genetica.jpg);
    background-position: center;
    background-size: cover;
}

#slide-8 {
    background-image: url(../images/biologia-forense.jpg);
    background-position: center;
    background-size: cover;
}
