@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    padding: 0px;
    margin: 0px;
    font-family: "inter";
    color: white;
}

/*Imagem de fundo*/

body {
    background-image: url("../images/teste.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Configuração do header, logo e menu de navegação*/

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}

a {
    text-decoration: none;
}

#logo img {
    width: 40px;
    filter: invert(100%);
    margin-top: 8px;
}

header nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

/*Decoração botão nav*/
.btn-nav {
    padding: 0px 8px;
}

.btn-nav:hover {
    text-decoration: underline lightgreen 5px;
}

/*Menu das áreas da biologia*/

#nav-slides {
    display: flex;
    flex-direction: row;
}

.slides {
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 15px;
    box-shadow: 10px 5px 5px black;
    flex-direction: column-reverse;
    display: flex;
}

#slide-1 {
    background-image: url(../images/bio-marinha.jpg);
    background-position: center;
    background-size: cover;
}
#slide-2 {
    background-image: url(../images/Bio-Paleo.jpg);
    background-position: center;
    background-size: cover;
}
#slide-3 {
    background-image: url(../images/bio-botanica.jpg);
    background-position: center;
    background-size: cover;
}
